:root {
    --mainColor: #9C6478;
    --secondaryColor: #f2c2bd;

    --borderColor: #8a7070;
    --borderColor2: #DBC8C5;

    --mainText: black;
    --secondaryText: #4b5156;

    --themeDotBorder: #24292e;
    --previewBg: rgb(251, 249, 243, 0.7);
    --previewShadow: #ebb9d1;
    --preview2Shadow: #f7aba1;

    --submitButton: black;
    --TextOnDark: #DBC8C5;

    --whatIDoColor: black;
    --contactColor: #DBC8C5;

    --links: #ba5db7;
}